<div class="modal fade" id="lightbox-search" tabindex="-1" role="dialog" aria-labelledby="lightbox-search" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="cs-icon icon-close"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{ settings.search_title }}</h4>
      </div>
      <div class="modal-body">
        <div id="search-info">
          <form class="search" action="/search">
            <input type="hidden" name="type" value="product" />                        
            <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}" value="{{ search.terms }}"  />
            <button class="search-submit" type="submit">
              <span class="cs-icon icon-search"></span>
            </button>
          </form>  
        </div>  
      </div>
    </div>
  </div>
</div>